<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:description" content="{% if page.title %}{{ page.title }} |{% endif %}{{ site.name }}"/>
<meta property="og:url" content="{{site.url}}{{site.baseurl}}{{page.url}}"/>
<meta property="og:image" content="{{site.url}}{{site.baseurl}}/images/{% if page.image %}{{page.image}}{% else %}profile.png{% endif %}"/>
<meta property="og:type" content="article"/>
<meta property="og:site_name" content="CEOs"/>

<meta name="twitter:card" content="{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}"/>
<meta name="twitter:description" content="{% if page.title %} {{ page.title }} | {% endif %}{{ site.name }}"/>
<meta name="twitter:image:src" content="{{site.url}}{{site.baseurl}}/images/{% if page.image %}{{page.image}}{% else %}profile.png{% endif %}"/>



  <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>
  <meta name="description" content="{{site.description}}"/>
  <meta name="author" content="{{site.author}}"/>
  <link rel="author" href="humans.txt"/>
  <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{{site.github.url}}/feed.xml" />

  <link rel="stylesheet" href="{{site.baseurl}}/resources/fontello/css/fontello.css">

  <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
  <link href="{{site.baseurl}}/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="{{site.baseurl}}/css/freelancer.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/share.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="{{site.baseurl}}/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>

<body id="page-top" class="index">
  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{site.baseurl}}/#page-top">CEO</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="hidden">
            <a href="#page-top"></a>
          </li>
          <li class="page-scroll">
            <a href="#about">About</a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>


  <!-- Default layout -->
  {{ content }}


  <!-- About Section -->
  <section class="" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>About</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-lg-offset-2">
          <p>In March 2016, if you were to search for images of CEOs, <a href="https://twitter.com/brunosan/status/712102273430650880">You would only see men</a>, and the first woman would be Barbie. Let's change that.</p>
        </div>
        <div class="col-lg-4">
          <p>When you create, link, or share create content with the words "CEO" and an image, you are building the expectation of results. </p>
        </div>
        <div class="col-lg-8 col-lg-offset-2">
          <hr class="star-primary">
          <p>This page pulls examples of woman CEOs from Wikipedia and other sources (<a href="https://github.com/CEOs-profiles/ceo/issues/new">Add profiles here</a>). When you share this page, or tweet it, or link to it you are creating diversity online, so we change the expectations online... and offline. Break the circle. Tweet this.</p>
        </div>

        <div class="col-lg-8 col-lg-offset-2">
          <ul class="share-buttons">
            <li><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fceos-profiles.github.io%2Fceo&t=" title="Share on Facebook" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&t=' + encodeURIComponent(document.URL)); return false;"><img src="{{site.baseurl}}/images/flat_web_icon_set/color/Facebook.png"></a></li>
            <li><a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Fceos-profiles.github.io%2Fceo&text=:%20http%3A%2F%2Fceos-profiles.github.io%2Fceo" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent('This is how I picture a #CEO') + ':%20'  + encodeURIComponent(document.URL)); return false;"><img src="{{site.baseurl}}/images/flat_web_icon_set/color/Twitter.png"></a></li>
            <li><a href="http://www.reddit.com/submit?url=http%3A%2F%2Fceos-profiles.github.io%2Fceo&title=" target="_blank" title="Submit to Reddit" onclick="window.open('http://www.reddit.com/submit?url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;"><img src="{{site.baseurl}}/images/flat_web_icon_set/color/Reddit.png"></a></li>
            <li><a href="http://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Fceos-profiles.github.io%2Fceo&title=&summary=&source=http%3A%2F%2Fceos-profiles.github.io%2Fceo" target="_blank" title="Share on LinkedIn" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;"><img src="{{site.baseurl}}/images/flat_web_icon_set/color/LinkedIn.png"></a></li>
            <li><a href="mailto:?subject=&body=:%20http%3A%2F%2Fceos-profiles.github.io%2Fceo" target="_blank" title="Email" onclick="window.open('mailto:?subject=' + encodeURIComponent(document.title) + '&body=' +  encodeURIComponent(document.URL)); return false;"><img src="{{site.baseurl}}/images/flat_web_icon_set/color/Email.png"></a></li>
          </ul>

        </div>

      </div>
    </div>
  </section>


  <!-- Footer -->
  <footer class="text-center">
    <div class="footer-above">

    </div>
    <div class="footer-below">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            Content released under  <a href="https://en.wikipedia.org/wiki/GNU_Free_Documentation_License">GNU Free Documentation License</a>.
          </div>
          <div class="col-lg-12">
            Open Sourced UI template from <a href="http://startbootstrap.com">"Start Bootstrap"</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
  <div class="scroll-top page-scroll visible-xs visible-sm">
    <a class="btn btn-primary" href="#page-top">
      <i class="fa fa-chevron-up"></i>
    </a>
  </div>

  <!-- jQuery -->
  <script src="{{site.baseurl}}/js/jquery.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="{{site.baseurl}}/js/bootstrap.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
  <script src="{{site.baseurl}}/js/classie.js"></script>
  <script src="{{site.baseurl}}/js/cbpAnimatedHeader.js"></script>


  <!-- Custom Theme JavaScript -->
  <script src="{{site.baseurl}}/js/freelancer.js"></script>

  <!-- Google Analytics -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-328064-20', 'auto');
  ga('send', 'pageview');

  </script>
</body>

</html>
